{% extends "lara_django_base/lara_base_menu.html" %}

{% block title %}Home{% endblock %}
{% load static %}

{% block toolbar %} {% endblock%}

{% block content %}

<!-- central menu  -->
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">LARA Main Modules - Apps</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <a href="/projects/project/apps">
                <div class="feature-icon bg-danger bg-gradient">
                    <img src="{% static 'icons/projects_icon.svg' %}" class='bi' alt="projects" width="64" height="64"
                        aria-label="Projects">
                </div>
            </a>
            <h2>Projects</h2>
            <p>Management of Experiments and Projects.</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Projects Group">
                <a href="{% url 'lara_django_projects:project-list' %}">
                    <button type="button" class="btn btn-outline-primary">Projects</button>
                </a>
                <a href="/projects/experiment/list"> <button type="button"
                        class="btn btn-outline-primary">Experiments</button>
                </a>
            </div>

        </div>
        <div class="feature col">
            <a href="/processes/process/list">
                <div class="feature-icon bg-warning bg-gradient">
                    <img src="{% static 'icons/process_icon.svg' %}" class='bi' alt="processes" width="64" height="64"
                        aria-label="Processes">
                </div>
            </a>
            <h2>Processes</h2>
            <p>Management of Processes and Procedures.</p>
       
            <div class="btn-group btn-group-sm" role="group" aria-label="Processes Group">
                <a href="/processes/procedure/list">
                    <button type="button" class="btn btn-outline-primary">Procedures ...</button>
                </a>
                <a href="/processes/process/list"> <button type="button"
                        class="btn btn-outline-danger">Processes ...</button>
                </a>
                <a href="/processes/method/list"> <button type="button"
                        class="btn btn-outline-warning">Methods ...</button>
                </a>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Processes Inst Group">
                <a href="/processes/procedure-instance/list">
                    <button type="button" class="btn btn-outline-primary">Procedure Inst.</button>
                </a>
                <a href="/processes/process-instance/list"> <button type="button"
                        class="btn btn-outline-danger">Process Inst.</button>
                </a>
                <a href="/processes/method-instance/list"> <button type="button"
                        class="btn btn-outline-warning">Method Inst.</button>
                </a>
            </div>
        </div>

        <div class="feature col">
            <a href="/people/">
                <div class="feature-icon bg-success bg-gradient">
                    <img src="{% static 'icons/people_icon.svg' %}" class='bi' alt="people" width="64" height="64"
                        aria-label="People">
                </div>
            </a>
            <h2>People</h2>
            <p>People and Groups database.</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="People Group">
                <a href="/people/entities/list">
                    <button type="button" class="btn btn-outline-primary">People...</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <a href="data/">
                <div class="feature-icon bg-info bg-gradient">
                    <img src="{% static 'icons/data_icon.svg' %}" class='bi' alt="people" width="64" height="64"
                        aria-label="data">
                </div>
            </a>
            <h2>Data</h2>
            <p>Data database.</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Data Group">
                <a href="/data/data/list">
                    <button type="button" class="btn btn-outline-primary">Data</button>
                </a>
            </div>
            
        </div>
        <div class="feature col">
            <a href="substances-store/">
                <div class="feature-icon bg-primary bg-gradient">
                    <img src="{% static 'icons/substances_icon.svg' %}" class='bi' alt="substances" width="64"
                        height="64" aria-label="substances">
                </div>
            </a>
            <h2>Substances, Reactions, Structures</h2>
            <p>Substances, Polymers, Mixtures, Reactions and Structures databases.</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Substances Group">
                <a href="/substances/substance/list">
                    <button type="button" class="btn btn-outline-primary">Substances ...</button>
                </a>
                <a href="/substances/polymer/list"> <button type="button"
                        class="btn btn-outline-danger">Polymers</button>
                </a>
                <a href="/substances/mixture/list"> <button type="button"
                        class="btn btn-outline-warning">Mixtures</button>
                </a>
                <a href="/substances/reaction/list"> <button type="button"
                        class="btn btn-outline-warning">Reactions</button>
                </a>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Substances Inst Group">
               <a href="/substances-store/substance/list">
                    <button type="button" class="btn btn-outline-primary">Substance Inst.</button>
                </a>
                <a href="/substances-store/polymer/list"> <button type="button"
                        class="btn btn-outline-danger">Polym.I.</button>
                </a>
                <a href="/substances-store/mixture/list"> <button type="button"
                        class="btn btn-outline-warning">Mixtures I.</button>
                </a>
                <a href="/substances-store/reaction/list"> <button type="button"
                        class="btn btn-outline-warning">React I.</button>
                </a>
            </div>
        </div>
        <div class="feature col">
            <a href="sequences/">
                <div class="feature-icon bg-primary bg-gradient">
                    <img src="{% static 'icons/substances_icon.svg' %}" class='bi' alt="sequences" width="64"
                        height="64" aria-label="sequences">
                </div>
            </a>
            <h2>Sequences</h2>
            <p>Sequences database.</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Sequences Group">
                <a href="/sequences/sequence/list">
                    <button type="button" class="btn btn-outline-primary">Sequences ...</button>
                </a>
            </div>
        </div>

    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <a href="material-store/">
                <div class="feature-icon bg-primary bg-gradient">
                    <img src="{% static 'icons/devices_icon.svg' %}" href="material/" class='bi' alt="devices"
                        width="64" height="64" aria-label="material">
                </div>
            </a>
            <h2>Material, Parts, Devices and Labware</h2>
            <p>Material, Parts, Devices and Labware databases ....</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Material Group">
                <a href="/material/part/list"> <button type="button"
                        class="btn btn-outline-danger">Parts</button>
                </a>
                <a href="/material/device/list"> <button type="button"
                        class="btn btn-outline-warning">Devices</button>
                </a>
                <a href="/material/labware/list"> <button type="button"
                        class="btn btn-outline-warning">Labware</button>
                </a>
            </div>
            <div class="btn-group btn-group-sm" role="group" aria-label="Material Inst Group">
                <a href="/material-store/part/list"> <button type="button"
                        class="btn btn-outline-danger">Parts I.</button>
                </a>
                <a href="/material-store/device/list"> <button type="button"
                        class="btn btn-outline-warning">Devices I.</button>
                </a>
                <a href="/material-store/labware/list"> <button type="button"
                        class="btn btn-outline-warning">Labware I.</button>
                </a>
            </div>
        </div>
        <div class="feature col">
            <a href="samples/">
                <div class="feature-icon bg-info bg-gradient">
                    <img src="{% static 'icons/projects_icon.svg' %}" class='bi' alt="parts" width="64" height="64"
                        aria-label="samples">
                </div>
            </a>
            <h2>Samples</h2>
            <p>Samples database .</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Samples Group">
                <a href="/samples/sample/list">
                    <button type="button" class="btn btn-outline-primary">Samples ...</button>
                </a>
               
            </div>
        </div>
        <div class="feature col">
            <a href="organisms-store/">
                <div class="feature-icon bg-success bg-gradient">
                    <img src="{% static 'icons/substances_icon.svg' %}" class='bi' alt="organisms" width="64"
                        height="64" href="organisms" aria-label="substances-store">
                </div>
            </a>
            <h2>Organisms</h2>
            <p>Organism databases ... .</p>
            <div class="btn-group btn-group-sm" role="group" aria-label="Organisms Group">
                <a href="/organisms/organism/list">
                    <button type="button" class="btn btn-outline-primary">Organisms ...</button>
                </a>
                <a href="/organisms-store/organism/list"> <button type="button"
                        class="btn btn-outline-danger">Organisms Inst.</button>
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}