{% extends "lara_django_base/lara_base_menu.html" %}

{% block title %}Home{% endblock %}
{% load static %}


{% block main-config %}
        <main class="col-xl-9 px-md-4">
        {% endblock %}

{% block toolbar %} {% endblock%}

{% block sidebar %}
        <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
            <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <svg class="bi" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="visually-hidden">Icon-only</span>
            </a>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="/" class="nav-link active py-3 border-bottom" aria-current="page" title="Home"
                        data-bs-toggle="tooltip" data-bs-placement="right">
                        <svg class="bi" width="24" height="24" role="img" aria-label="Home">
                            <use xlink:href="#home" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/projects/" class="nav-link py-3 border-bottom" title="Projects" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/projects_icon.svg' %}" alt="projects" width="32" height="32"
                            aria-label="Projects">
                    </a>
                </li>
                <li>
                    <a href="/processes/" class="nav-link py-3 border-bottom" title="Processes" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/process_icon.svg' %}" alt="processes" width="32" height="32"
                            aria-label="processes">
                    </a>
                </li>
                <li>
                    <a href="/data/" class="nav-link py-3 border-bottom" title="Data" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/data_icon.svg' %}" alt="data" width="32" height="32"
                            aria-label="data">
                    </a>
                </li>
                <li>
                    <a href="/material/part/list" class="nav-link py-3 border-bottom" title="Parts" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/devices_icon.svg' %}" alt="parts" width="32" height="32"
                            aria-label="Parts">
                    </a>
                </li>
                <li>
                    <a href="/material/device/list" class="nav-link py-3 border-bottom" title="Devices" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/devices_icon.svg' %}" alt="devices" width="32" height="32"
                            aria-label="Devices">
                    </a>
                </li>
                <li>
                    <a href="/material/labware/list/" class="nav-link py-3 border-bottom" title="Labware"
                        data-bs-toggle="tooltip" data-bs-placement="right">
                        <img src="{% static 'icons/container_icon.svg' %}" alt="devices" width="32" height="32"
                            aria-label="labware">
                    </a>
                </li>
                <li>
                    <a href="/substances/" class="nav-link py-3 border-bottom" title="Substances"
                        data-bs-toggle="tooltip" data-bs-placement="right">
                        <img src="{% static 'icons/substances_icon.svg' %}" alt="substances" width="32" height="32"
                            aria-label="substances">
                    </a>
                </li>
                <li>
                    <a href="/organisms/" class="nav-link py-3 border-bottom" title="Organisms" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/substances_icon.svg' %}" alt="organisms" width="32" height="32"
                            aria-label="organisms">
                    </a>
                </li>
                <li>
                    <a href="/people" class="nav-link py-3 border-bottom" title="People" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/people_icon.svg' %}" alt="people" width="32" height="32"
                            aria-label="People">

                    </a>
                </li>
            </ul>
            <div class="dropdown border-top">
                <a href="#"
                    class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                    id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'icons/LARA_logo.svg' %}" alt="lara" width="24" height="24"
                        class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="accounts/logout">Logout out</a></li>
                </ul>
            </div>
        </div>

        <div class="b-example-divider"></div>

        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
          <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-5 fw-semibold">Projects</span>
          </a>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Home
              </button>
              <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Overview</a></li>
                  <li><a href="#" class="link-dark rounded">Updates</a></li>
                  <li><a href="#" class="link-dark rounded">Reports</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
              </button>
              <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">Overview</a></li>
                  <li><a href="#" class="link-dark rounded">Weekly</a></li>
                  <li><a href="#" class="link-dark rounded">Monthly</a></li>
                  <li><a href="#" class="link-dark rounded">Annually</a></li>
                </ul>
              </div>
            </li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
              </button>
              <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">New</a></li>
                  <li><a href="#" class="link-dark rounded">Processed</a></li>
                  <li><a href="#" class="link-dark rounded">Shipped</a></li>
                  <li><a href="#" class="link-dark rounded">Returned</a></li>
                </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
              </button>
              <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-dark rounded">New...</a></li>
                  <li><a href="#" class="link-dark rounded">Profile</a></li>
                  <li><a href="#" class="link-dark rounded">Settings</a></li>
                  <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      
        <div class="b-example-divider"></div>
        {% endblock %}

{% block content %}

<!-- central menu  -->
<div class="container px-1 py-1" id="featured-3">
    <h2 class="pb-2 border-bottom">LARA Main Modules</h2>
    <div class="row g-1 py-1 row-cols-1 row-cols-lg-1">
        <div class="feature col">
            <a href="projects/">
                <div class="feature-icon bg-danger bg-gradient">
                    <img src="{% static 'icons/projects_icon.svg' %}" class='bi' alt="projects" width="64" height="64"
                        aria-label="Projects">
                </div>
            </a>
            <h2>Projects</h2>
            <p>Management of Experiments and Projects.</p>
            <a href="projects/" class="icon-link">
                Got to Projects ...
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right" />
                </svg>
            </a>
        </div>
       

    </div>
</div>


{% endblock %}