{% extends 'lara_django_base/lara_sidebar.html' %}

{% block dropdown-menu %}
{% if menu_items%}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Menu
    </a>
    <ul class="dropdown-menu">
        {% for menu_item in menu_items %}
        <li><a class="dropdown-item" href="{% url menu_item.path %}">{{ menu_item.name }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endif %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Help & Infos
    </a>
    <ul class="dropdown-menu">
        {% for menu_item in extra_menu_items %}
        <li><a class="dropdown-item" href="{{ menu_item.url }}">{{ menu_item.name }}</a></li>
        {% endfor %}
      
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="{{ LARA_DOCS_URL }}" target="_blank" rel="noopener">LARA help & documentation</a></li>
        <li><a class="dropdown-item" href="/about">About LARA-django</a></li>
    </ul>
</li>

{% endblock %}