{% extends 'lara_django_base/lara_base.html' %}

{% load static %}

{% block top-navbar %}   
   <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">

            <a class="navbar-brand" href="https://gitlab.com/larasuite/lara">
                <img src="{% static 'icons/LARA_logo.svg' %}" alt="LARAsuite" width="30" height="24">
                LARAsuite
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/apps/">Apps</a>
                    </li>
                    {% block tools-dropdown-menu%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Tools
                        </a>
                        <ul class="dropdown-menu">
                            {% if PREFECT_DASHBOARD_URL %}
                            <li class="dropdown-item">
                                <a class="nav-link active" aria-current="page" href="{{ PREFECT_DASHBOARD_URL }}"
                                    target="_blank" rel="noopener">Orchestration</a>
                            </li>
                            {% endif %}
                            {% if VIRTUOSO_SPARQL_URL %}
                            <li class="dropdown-item">

                                <a class="nav-link active" aria-current="page" href="{{ VIRTUOSO_SPARQL_URL }}"
                                    target="_blank" rel="noopener">SPARQL query </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endblock %}


                    {% block dropdown-menu%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                    {% endblock %}

                    {% if user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin">django Admin</a></li>
                            <li><a class="dropdown-item" href="{{ MINIO_DASHBOARD }}" target="_blank"
                                    rel="noopener">minIO S3 storage</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                </ul>
                {% block searchbar %}
                {% endblock searchbar %}
            </div>
        </div>
    </nav>
    {% endblock top-navbar %}
   