{% extends 'lara_django_base/lara_navbar.html' %}

{% load static %}

{% block sidebar %}
        <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
            <a href="/" class="d-block p-3 link-dark text-decoration-none" title="Icon-only" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <svg class="bi" width="40" height="32">
                    <use xlink:href="#bootstrap" />
                </svg>
                <span class="visually-hidden">Icon-only</span>
            </a>
            <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="/" class="nav-link active py-3 border-bottom" aria-current="page" title="Home"
                        data-bs-toggle="tooltip" data-bs-placement="right">
                        <svg class="bi" width="24" height="24" role="img" aria-label="Home">
                            <use xlink:href=" #home" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/apps/" class="nav-link py-3 border-bottom" title="Apps" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/projects_icon.svg' %}" alt="projects" width="32" height="32"
                            aria-label="Apps">
                    </a>
                </li>
                <li>
                    <a href="/projects/" class="nav-link py-3 border-bottom" title="Projects" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/projects_icon.svg' %}" alt="projects" width="32" height="32"
                            aria-label="Projects">
                    </a>
                </li>
                <li>
                    <a href="/processes/" class="nav-link py-3 border-bottom" title="Processes" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/process_icon.svg' %}" alt="processes" width="32" height="32"
                            aria-label="processes">
                    </a>
                </li>
                <li>
                    <a href="/data/" class="nav-link py-3 border-bottom" title="Data" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/data_icon.svg' %}" alt="data" width="32" height="32"
                            aria-label="data">
                    </a>
                </li>
                <li>
                    <a href="/material/part/list" class="nav-link py-3 border-bottom" title="Parts" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/devices_icon.svg' %}" alt="parts" width="32" height="32"
                            aria-label="Parts">
                    </a>
                </li>
                <li>
                    <a href="/material/device/list" class="nav-link py-3 border-bottom" title="Devices" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/devices_icon.svg' %}" alt="devices" width="32" height="32"
                            aria-label="Devices">
                    </a>
                </li>
                <li>
                    <a href="/material/labware/list/" class="nav-link py-3 border-bottom" title="Labware"
                        data-bs-toggle="tooltip" data-bs-placement="right">
                        <img src="{% static 'icons/container_icon.svg' %}" alt="devices" width="32" height="32"
                            aria-label="labware">
                    </a>
                </li>
                <li>
                    <a href="/substances/" class="nav-link py-3 border-bottom" title="Substances"
                        data-bs-toggle="tooltip" data-bs-placement="right">
                        <img src="{% static 'icons/substances_icon.svg' %}" alt="substances" width="32" height="32"
                            aria-label="substances">
                    </a>
                </li>
                <li>
                    <a href="/organisms/" class="nav-link py-3 border-bottom" title="Organisms" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/substances_icon.svg' %}" alt="organisms" width="32" height="32"
                            aria-label="organisms">
                    </a>
                </li>
                <li>
                    <a href="/people" class="nav-link py-3 border-bottom" title="People" data-bs-toggle="tooltip"
                        data-bs-placement="right">
                        <img src="{% static 'icons/people_icon.svg' %}" alt="people" width="32" height="32"
                            aria-label="People">

                    </a>
                </li>
            </ul>
            <div class="dropdown border-top">
                <a href="#"
                    class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                    id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'icons/LARA_logo.svg' %}" alt="lara" width="24" height="24"
                        class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="accounts/logout">Logout out</a></li>
                </ul>
            </div>
        </div>
        {% endblock %}