{# LARA project's login base template #}
{% load django_bootstrap5 %}

{% load static %}
{# Load CSS and JavaScript #}


<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="LARA login page">
    <meta name="author" content="Mark Doerr, Mark Otto, Jacob Thornton and Bootstrap contributors">
    <meta name="generator" content="LARA 0.0.1">

    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Bootstrap -->
    {% bootstrap_css %}


    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}" />

    {% block head %}
    {% endblock %}

</head>


{% block content %}

<body></body>
{% endblock %}

{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

</html>