{% extends 'registration/lara_login_base.html' %}

{% load django_bootstrap5 %}

{% load static %}

{% block content %}


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
{#<p>Please login to see this page.</p>#}
{% endif %}
{% endif %}

<body class="text-center">

  <main class="form-signin">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <a href="https://gitlab.com/larasuite/lara">
        <img class=" mb-4" src="{% static 'icons/LARA_logo.svg'%}" alt="LARAsuite" width="72" height="57">
      </a>
      <h1 class="h3 mb-3 fw-normal">LARAsuite - Please log in</h1>

      <div class="form-group mt-5 mb-3 mr-sm-3">
        {{ form.username.label_tag }}
        {{ form.username }}
      </div>
      <div class="form-group mt-5 mb-3 mr-sm-3">
        {{ form.password.label_tag }}
        {{ form.password }}
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <input type="hidden" name="next" value="{{ next }}">
      <button class="w-100 btn btn-lg btn-primary" type="submit" value="login">Login</button>
      <p class="mt-5 mb-3 text-muted">&copy; LARAsuite 2017–2022</p>
    </form>
  </main>
</body>

{% endblock %}